:root {
  --main-color: #6c6cd8;
  --light-color: rgb(241, 238, 238);
  --second-color: rgb(207, 203, 203);
  --active-color: #3939b4;
  --inactive-color: #8888e2;

  --light-modal-color: rgb(46, 45, 45);
  --dark-color: #222;
  --dark-second-color: rgb(68, 67, 67);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: white;
}

.body-dark {
  background-color: var(--dark-color);
  color: white;
}

.page {
  margin: auto;
  margin-bottom: 20px;
  max-width: 950px;
  width: 80%;
}

header {
  margin-bottom: 55px;
  background-color: var(--main-color);
  color: #ffffff;
  font-family: "Balsamiq Sans", cursive;
}

header > div {
  padding: 30px 0px 10px 0px;
}

header > div * {
  display: inline-block;
}

header img {
  width: 30px;
  position: relative;
  top: 4px;
}

nav ul {
  padding-left: 30px;
}

nav ul li {
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 15px;
}

/* add task */

.color-input {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: none;
  position: relative;
  top: 6px;
}

.name-input {
  margin: 0px 5px;
  padding: 3px;
  height: 20px;
  border: none;
  border-radius: 5px;
}

.addTask {
  margin-bottom: 50px;
  background-color: var(--light-color);
  width: 330px;
  border-radius: 20px;
}

.addTaskActive {
  padding: 20px;
}

.color-red {
  outline: 1px solid red;
}

.escape {
  color: var(--active-color);
  font-size: 10px;
  float: right;
  position: relative;
  top: -10px;
}

.colors {
  margin-top: 10px;
  width: 235px;
  display: flex;
  justify-content: flex-start;
}

.colors div {
  cursor: pointer;
  margin: 3px;
  width: 15px;
  height: 13px;
  border-radius: 50%;
  display: inline-block;
}

/* botones */

.hover:hover {
  background-color: var(--active-color);
}

.btn {
  cursor: pointer;
  background-color: var(--main-color);
  color: white;
  width: 60px;
  height: 30px;
  border: none;
  border-radius: 10px;
}

.btn:hover {
  background-color: var(--active-color);
}

.btnActive {
  background-color: var(--inactive-color);
}

.active {
  background-color: var(--active-color);
}

/* list of tasks */

.list-task {
  color: white;
  font-weight: bold;
  position: relative;
  top: -30px;
  display: flex;
  flex-wrap: wrap;
}

.list-task > div {
  cursor: pointer;
  margin: 5px;
  padding: 15px 20px;
  border-radius: 13px;
  display: flex;
}

.list-task p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-task > div > div {
  display: flex;
  position: relative;
  left: 5px;
}

.list-task img {
  padding: 0px 10px;
  width: 15px;
  height: 15px;
  position: relative;
  top: 1px;
}

.delete-btn {
  cursor: pointer;
  background-color: red;
  color: white;
  font-size: 12px;
  width: 17px;
  height: 17px;
  border: none;
  border-radius: 50%;
}

.select-task {
  outline: 2px solid var(--main-color);
}

/* container -> days, hours, blocks*/

.container-table {
  display: grid;
  grid-template-columns: 80px 1fr;
}

.days ul {
  list-style: none;
}

.days ul li {
  padding: 6px 0px;
  width: 37px;
  position: relative;
  left: 15px;
  top: 35px;
}

.days ~ div {
  text-align: center;
  display: grid;
  grid-gap: 2px;
  grid-template-rows: repeat(8, minmax(30px, 1fr));
}

.days ~ div > * {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(24, 1fr);
}

.blocks div {
  background-color: var(--second-color);
  border-radius: 5px;
}

.point {
  border: var(--main-color) solid;
}

.color-blue {
  color: var(--main-color);
}

/* stask now y btn clean */

.div-now {
  margin-top: 15px;
  padding: 5px;
  height: 25px;
  display: flex;
  justify-content: space-between;
}

.now {
  margin: 0px 30px 0px 80px;
  background-color: var(--light-color);
  flex: 2;
  text-align: center;
}

.now h2 {
  font-size: 20px;
}

.mode-dark {
  background-color: var(--dark-second-color);
  color: white;
}
