* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #6c6cd8;
  color: white;
  padding: 20px 40px;
}

.container {
  margin: 30px;
  display: grid;
  grid-template-columns: 100px 1fr;
}

.days {
  position: relative;
  top: 35px;
}

.days ul {
  list-style: none;
}

.days ul li {
  padding: 6px;
}

.boxes {
  text-align: center;
  display: grid;
  grid-gap: 2px;
  grid-template-rows: repeat(8, minmax(30px, 1fr));
}

.boxes > * {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(24, 1fr);
}

.boxes div div {
  background-color: rgb(219, 216, 216);
}

.boxes .numbers * {
  background-color: white;
}

.taks {
  margin: 40px 35px;
}

.color-input {
  cursor: pointer;
  border: none;
  width: 30px;
  height: 30px;
  position: relative;
  top: 6px;
}

.name-input {
  height: 20px;
}

button {
  cursor: pointer;
  padding: 4px;
  width: 80px;
  border: none;
  background-color: #6c6cd8;
  color: white;
}

.color-red {
  border: #6c6cd8 solid;
}
