* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: #6c6cd8;
  font-family: "Balsamiq Sans", cursive;
  color: #ffffff;
}

header div {
  padding: 10px 40px;
}

header img {
  width: 30px;
  position: relative;
  top: 4px;
}

header * {
  display: inline-block;
}

.container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 120px 1fr;
}

.days ul {
  list-style: none;
}

.days ul li {
  padding: 6px;
}

.container-blocks {
  text-align: center;
  display: grid;
  grid-gap: 2px;
  grid-template-rows: repeat(8, minmax(30px, 1fr));
}

.container-blocks > * {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(24, 1fr);
}

.container-blocks div div {
  background-color: rgb(219, 216, 216);
}

.container-blocks .numbers * {
  background-color: white;
}

.taks {
  margin: 30px 35px;
}

.color-input {
  cursor: pointer;
  border: none;
  width: 30px;
  height: 30px;
  position: relative;
  top: 6px;
}

.name-input {
  height: 20px;
}

.add-btn {
  cursor: pointer;
  padding: 6px;
  width: 80px;
  border: none;
  background-color: #6c6cd8;
  color: white;
}

.point {
  border: #6c6cd8 solid;
}

.list-task {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 200px));
  margin-top: 25px;
  text-align: center;
  color: white;
  font-weight: bold;
}

.list-task div {
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 35px;
}

.list-task div div {
  padding: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.list-task p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-task img {
  padding-top: 7px;
  width: 16px;
}

.delete-btn {
  cursor: pointer;
  width: 15px;
  border: none;
  border-radius: 5px;
  background-color: red;
  color: white;
  font-weight: bold;
}

.select-task {
  outline: 2px solid #6c6cd8;
}

.color-red {
  outline: 1px solid red;
}

.color-blue {
  color: #6c6cd8;
}

.now {
  margin-top: 20px;
  padding: 5px;
  height: 20px;
  text-align: center;
  background-color: rgb(245, 243, 243);
}

.now h2 {
  font-size: 20px;
}

.colors {
  margin-top: 10px;
  width: 225px;
  display: flex;
  justify-content: flex-start;
}

.colors div {
  display: inline-block;
  width: 15px;
  height: 15px;
  cursor: pointer;
  margin: 3px;
}

.trick {
  background-color: #a2a2f7;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.back {
  position: relative;
  right: 10px;
  width: 20px;
}

.back-none {
  display: none;
}

.select-trick {
  background-color: #6c6cd8;
}
